Repository wasmerio/wasmer, pull requests merged in 2019-08, with the labels that each got.

#607 Feature/update wasmparser and clif fork deps
  Cargo.lock
  lib/clif-backend/Cargo.toml
  lib/llvm-backend/Cargo.toml
  lib/runtime-core/Cargo.toml
  lib/singlepass-backend/Cargo.toml
Labels: 📦 lib-clif-backend

#650 implement wasi::path_rename
  CHANGELOG.md
  Cargo.lock
  Makefile
  lib/wasi-tests/tests/wasitests/mod.rs
  lib/wasi-tests/tests/wasitests/path_rename.rs
  lib/wasi-tests/wasitests/path_rename.out
  lib/wasi-tests/wasitests/path_rename.rs
  lib/wasi-tests/wasitests/path_rename.wasm
  lib/wasi/src/macros.rs
  lib/wasi/src/state/mod.rs
  lib/wasi/src/state/types.rs
  lib/wasi/src/syscalls/mod.rs
Labels: 📦 lib-wasi

#708 runtime-c-api: not installing cranelift if not necessary
  lib/runtime-c-api/Cargo.toml
Labels: 🎉 enhancement, 📦 lib-runtime-c-api

#712 Improve build instructions in README, test on Rust 1.36
  .circleci/config.yml
  README.md
Labels: 📚 documentation

#729 Add comment explaining why WasmHash is implemented the way it is
  lib/runtime-core/src/cache.rs
Labels: 📦 lib-runtime-core

#731 Always flush when writing, even if we get invalid pointers
  lib/wasi/src/syscalls/mod.rs
Labels: 📦 lib-wasi
