Repository wasmerio/wasmer, pull requests merged in 2019-10, with the labels that each got.

#855 Fix example in runtime readme
  lib/runtime/README.md
Labels: 📚 documentation

#868 Replace "be the i32 type" with "be an i32" in error messages.
  lib/runtime-core/src/backing.rs
Labels: 🐞 bug, 📦 lib-runtime-core

#881 feat(runtime-core) Add documentation and make macros more readable.
  lib/runtime-core/src/typed_func.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core

#885 fix(cranelift-backend) Remove broken (and useless?) debug code
  lib/clif-backend/src/code.rs
  lib/clif-backend/src/resolver.rs
Labels: 🐞 bug, 📦 lib-clif-backend

#889 fix(singlepass-backend) Use wasmparser from `runtime-core`
  Cargo.lock
  lib/singlepass-backend/Cargo.toml
  lib/singlepass-backend/src/codegen_x64.rs
  lib/singlepass-backend/src/machine.rs
Labels: dependencies, 🎉 enhancement, 📦 lib-singlepass-backend

#886 fix(win-exception-handler) Remove `bindgen` and `regex` from cargo build deps
  Cargo.lock
  lib/win-exception-handler/Cargo.toml
Labels: 🐞 bug, 📦 lib-win-exception-handler

#873 Update feature/wasi-in-c-api
  lib/runtime-c-api/src/export.rs
  lib/runtime-c-api/src/import/mod.rs
  lib/runtime-c-api/src/import/wasi.rs
Labels: 🎉 enhancement, 📦 lib-runtime-c-api

#899 Remove dead intrinsics.
  lib/llvm-backend/src/intrinsics.rs
Labels: 🎉 enhancement, 📦 lib-llvm-backend

#914 Fix bug in getting a Memory from export in C API
  lib/runtime-c-api/src/export.rs
Labels: 🐞 bug, 📦 lib-runtime-c-api

#919 Add start of language intergrations table to feature matrix
  docs/feature_matrix.md
Labels: 📚 documentation

#915 fix(runtime-core) Share the definition of `Trampoline` across all the backends
  lib/clif-backend/src/signal/mod.rs
  lib/clif-backend/src/signal/windows.rs
  lib/clif-backend/src/trampoline.rs
  lib/llvm-backend/src/backend.rs
  lib/llvm-backend/src/code.rs
  lib/runtime-core/src/typed_func.rs
  lib/singlepass-backend/src/codegen_x64.rs
  lib/win-exception-handler/src/exception_handling.rs
Labels: 🎉 enhancement, 📦 lib-clif-backend, 📦 lib-llvm-backend, 📦 lib-runtime-core, 📦 lib-singlepass-backend, 📦 lib-win-exception-handler

#922 Add OS compatibility section to feature matrix
  docs/feature_matrix.md
Labels: 📚 documentation
