Repository wasmerio/wasmer, pull requests merged in 2019-03, with the labels that each got.

#229 fix(runtime-core) `hasher` does not need to be mutable
  lib/runtime-core/src/cache.rs
Labels: enhancement

#228 fix(runtime-core) Remove an unused import
  lib/runtime-core/src/error.rs
Labels: enhancement

#230 fix(clif-backend) Remove an unused variable declaration
  lib/clif-backend/src/resolver.rs
Labels: enhancement

#231 fix(clif-backend) `Module::new` does not use its argument
  lib/clif-backend/src/lib.rs
  lib/clif-backend/src/module.rs
Labels: enhancement

#234 Change RuntimeError type
  lib/clif-backend/src/signal/mod.rs
  lib/clif-backend/src/signal/unix.rs
  lib/clif-backend/src/signal/windows.rs
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/error.rs
  lib/runtime-core/src/typed_func.rs
  lib/spectests/build/spectests.rs
  lib/spectests/tests/semantics.rs
Labels: enhancement

#237 fix(runtime-c-api) Update `cbindgen`
  lib/runtime-c-api/Cargo.toml
Labels: bug

#232 fix(runtime-c-api) Fix several warnings
  lib/runtime-c-api/src/lib.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: enhancement

#238 feat(runtime-c-api) Generate the C/C++ header files in `OUT_DIR` (+ copy in `CARGO_MANIFEST_DIR`).
  Cargo.lock
  Makefile
  lib/runtime-c-api/Cargo.toml
  lib/runtime-c-api/build.rs
  lib/runtime-c-api/src/lib.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 🎉 enhancement, 📦 lib-runtime-c-api

#233 implement more emscripten functions
  .gitignore
  lib/emscripten/emtests/test_execvp.c
  lib/emscripten/emtests/test_execvp.out
  lib/emscripten/emtests/test_execvp.wasm
  lib/emscripten/emtests/test_execvp_windows.c
  lib/emscripten/emtests/test_execvp_windows.wasm
  lib/emscripten/emtests/test_pipe.c
  lib/emscripten/emtests/test_pipe.out
  lib/emscripten/emtests/test_pipe.wasm
  lib/emscripten/src/exec.rs
  lib/emscripten/src/exit.rs
  lib/emscripten/src/lib.rs
  lib/emscripten/src/syscalls/mod.rs
  lib/emscripten/tests/emtests/_common.rs
  lib/emscripten/tests/emtests/mod.rs
  lib/emscripten/tests/emtests/test_execvp.rs
  lib/emscripten/tests/emtests/test_pipe.rs
Labels: 🎉 enhancement, 📦 lib-emscripten

#242 doc(runtime-c-api) Improve the `README.md`.
  lib/runtime-c-api/README.md
Labels: 📚 documentation, 📦 lib-runtime-c-api

#243 chore(github) Update issue templates
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/--question.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 🎉 enhancement

#247 feat(runtime-c-api) Ask `rustc` to generate a static library.
  lib/runtime-c-api/Cargo.toml
Labels: 🎉 enhancement, 📦 lib-runtime-c-api

#239 LLVM-based compiler backend
  .appveyor.yml
  .circleci/config.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  integration_tests/lua/test.sh
  integration_tests/nginx/test.sh
  lib/clif-backend/src/module_env.rs
  lib/clif-backend/src/resolver.rs
  lib/clif-backend/src/signal/mod.rs
  lib/emscripten/Cargo.toml
  lib/emscripten/src/lib.rs
  lib/emscripten/src/utils.rs
  lib/emscripten/tests/emtests/_common.rs
  lib/llvm-backend/Cargo.toml
  lib/llvm-backend/build.rs
  lib/llvm-backend/cpp/object_loader.cpp
  lib/llvm-backend/cpp/object_loader.hh
  lib/llvm-backend/src/backend.rs
  lib/llvm-backend/src/code.rs
  lib/llvm-backend/src/example.rs
  lib/llvm-backend/src/intrinsics.rs
  lib/llvm-backend/src/lib.rs
  lib/llvm-backend/src/platform/mod.rs
  lib/llvm-backend/src/platform/unix.rs
  lib/llvm-backend/src/read_info.rs
  lib/llvm-backend/src/state.rs
  lib/llvm-backend/src/trampolines.rs
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/backing.rs
  lib/runtime-core/src/error.rs
  lib/runtime-core/src/import.rs
  lib/runtime-core/src/instance.rs
  lib/runtime-core/src/module.rs
  lib/runtime-core/src/sig_registry.rs
  lib/runtime-core/src/vm.rs
  lib/runtime/Cargo.toml
  lib/runtime/examples/call.rs
  lib/runtime/src/lib.rs
  lib/spectests/Cargo.toml
  lib/spectests/build/spectests.rs
  lib/spectests/examples/simple/main.rs
Labels: 🎉 enhancement, 📦 lib-llvm-backend, 🚧 work in progress

#241 test(runtime-c-api) Deny all warnings
  lib/runtime-c-api/src/lib.rs
  lib/runtime-c-api/tests/CMakeLists.txt
  lib/runtime-c-api/tests/runtime_c_api_tests.rs
  lib/runtime-c-api/tests/test-exports.c
  lib/runtime-c-api/tests/test-import-function.c
  lib/runtime-c-api/tests/test-imports.c
  lib/runtime-c-api/tests/test-instantiate.c
  lib/runtime-c-api/tests/test-memory.c
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 📦 lib-runtime-c-api, 🧪 tests

#252 chore(makefile) Remove the `capi` target
  Makefile
Labels: 🎉 enhancement, 📦 lib-runtime-c-api

#255 remove unnecessary conditional compilation in cargo file for windows
  Cargo.toml
Labels: 🎉 enhancement

#253 doc(readme) Fix a typo.
  lib/runtime-c-api/README.md
Labels: 🐞 bug, 📚 documentation

#257 feat(runtime) Get ready for tiering
  Cargo.lock
  lib/clif-backend/src/func_env.rs
  lib/llvm-backend/Cargo.toml
  lib/llvm-backend/build.rs
  lib/llvm-backend/src/code.rs
  lib/llvm-backend/src/intrinsics.rs
  lib/llvm-backend/src/lib.rs
  lib/llvm-backend/src/platform/unix.rs
  lib/runtime-core/src/backing.rs
  lib/runtime-core/src/sys/unix/memory.rs
  lib/runtime-core/src/vm.rs
Labels: 🎉 enhancement, 📦 lib-clif-backend, 📦 lib-llvm-backend, 📦 lib-runtime-core

#263 fix(runtime-core) Remove unused imports
  lib/runtime-core/src/error.rs
  lib/runtime-core/src/typed_func.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core

#265 fix(clif-backend) Remove unused imports
  lib/clif-backend/src/signal/unix.rs
Labels: 🎉 enhancement, 📦 lib-clif-backend

#266 fix(emscripten) Various warning fixes and cleanups
  lib/emscripten/src/emscripten_target.rs
  lib/emscripten/src/env/mod.rs
  lib/emscripten/src/errno.rs
  lib/emscripten/src/io/unix.rs
  lib/emscripten/src/lib.rs
  lib/emscripten/src/lock.rs
  lib/emscripten/src/memory.rs
  lib/emscripten/src/nullfunc.rs
  lib/emscripten/src/process.rs
  lib/emscripten/src/signal.rs
  lib/emscripten/src/syscalls/mod.rs
  lib/emscripten/src/syscalls/unix.rs
  lib/emscripten/src/syscalls/windows.rs
  lib/emscripten/src/time.rs
  lib/emscripten/src/utils.rs
Labels: 🎉 enhancement, 📦 lib-emscripten

#280 feat(runtime-c-api) Mirrors the `debug` and `llvm` features
  lib/runtime-c-api/Cargo.toml
Labels: 🎉 enhancement, 📦 lib-llvm-backend, 📦 lib-runtime-c-api

#311 doc(lib) Add basic `README.md`
  lib/clif-backend/README.md
  lib/dynasm-backend/README.md
  lib/llvm-backend/README.md
  lib/runtime-core/README.md
  lib/runtime/README.md
  lib/spectests/README.md
  lib/win-exception-handler/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-clif-backend, 📦 lib-emscripten, 📦 lib-llvm-backend, 📦 lib-runtime, 📦 lib-runtime-c-api, 📦 lib-runtime-core, 📦 lib-spectests, 📦 lib-win-exception-handler

#314 add more stubs for pthreading, exceptions, and some invokes
  lib/emscripten/src/emscripten_target.rs
  lib/emscripten/src/exception.rs
  lib/emscripten/src/lib.rs
  lib/emscripten/src/process.rs
Labels: 📦 lib-emscripten
