Repository wasmerio/wasmer, pull requests merged in 2019-07, with the labels that each got.

#537 Add hidden flag `--cache-key` to use prehashed modules for speed
  CHANGELOG.md
  Cargo.toml
  lib/runtime-core/Cargo.toml
  lib/runtime-core/src/cache.rs
  lib/runtime/src/cache.rs
  src/bin/wasmer.rs
Labels: 📦 bin

#546 use published forks of clif so we can publish again
  Cargo.lock
  lib/clif-backend/Cargo.toml
Labels: 📦 lib-clif-backend

#563 improve wasitest infra and fix fseek test
  CHANGELOG.md
  Makefile
  lib/wasi-tests/build/wasitests.rs
  lib/wasi-tests/tests/README.md
  lib/wasi-tests/tests/wasitests/envvar.rs
  lib/wasi-tests/wasitests/create_dir.wasm
  lib/wasi-tests/wasitests/envvar.wasm
  lib/wasi-tests/wasitests/file_metadata.wasm
  lib/wasi-tests/wasitests/fs_sandbox_test.wasm
  lib/wasi-tests/wasitests/fseek.wasm
  lib/wasi-tests/wasitests/hello.wasm
  lib/wasi-tests/wasitests/mapdir.rs
  lib/wasi-tests/wasitests/mapdir.wasm
  lib/wasi-tests/wasitests/quine.wasm
  rustfmt.toml
Labels: 📦 lib-wasi, 🧪 tests

#576 fix Drop of uninit Ctx; use MaybeUninit
  bors.toml
  lib/runtime-core/src/instance.rs
Labels: 📦 lib-runtime-core

#561 * vm.rs - calling `Ctx` `data_finalizer` upon destruction
  lib/runtime-core/src/vm.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core, 🧪 tests

#582 fix semver issue with clif 0.31 + new version of wasmparser
  Cargo.lock
  lib/clif-backend/Cargo.toml
Labels: 📦 lib-clif-backend

#578 llvm-backend: export FunctionCodeGenerator and ModuleCodeGenerator
  lib/llvm-backend/src/lib.rs
Labels: 📦 lib-llvm-backend
