Repository wasmerio/wasmer, pull requests merged in 2019-04, with the labels that each got.

#325 change func_index offset by number of imported funcs
  lib/clif-backend/src/module_env.rs
Labels: 📦 lib-emscripten

#326 get PHP kind of working
  Cargo.lock
  lib/clif-backend/Cargo.toml
  lib/clif-backend/src/module.rs
  lib/clif-backend/src/module_env.rs
  lib/clif-backend/src/relocation.rs
Labels: 📦 lib-emscripten

#328 fix master; add some emscripten calls
  Cargo.lock
  lib/emscripten/a.txt
  lib/emscripten/build/emtests.rs
  lib/emscripten/emtests/hello.cpp
  lib/emscripten/emtests/hello.out
  lib/emscripten/emtests/hello.wasm
  lib/emscripten/emtests/ignores.txt
  lib/emscripten/foo.txt
  lib/emscripten/src/exception.rs
  lib/emscripten/src/lib.rs
  lib/emscripten/src/time.rs
  lib/emscripten/tests/emtests/mod.rs
  lib/emscripten/tests/emtests/test_execvp.rs
  lib/emscripten/tests/emtests/test_getcwd.rs
  lib/emscripten/tests/emtests/test_nl_types.rs
  lib/emscripten/tests/emtests/test_phiundef.rs
  lib/emscripten/tests/emtests/test_pipe.rs
  lib/emscripten/tests/emtests/test_printf_2.rs
  lib/emscripten/tests/emtests/test_printf_more.rs
  lib/emscripten/tests/emtests/test_regex.rs
  lib/emscripten/tests/emtests/test_relocatable_void_function.rs
  lib/emscripten/tests/emtests/test_rounding.rs
  lib/emscripten/tests/emtests/test_set_align.rs
  lib/emscripten/tests/emtests/test_sintvars.rs
  lib/emscripten/tests/emtests/test_sizeof.rs
  lib/emscripten/tests/emtests/test_sscanf.rs
  lib/emscripten/tests/emtests/test_sscanf_3.rs
  lib/emscripten/tests/emtests/test_sscanf_4.rs
  lib/emscripten/tests/emtests/test_sscanf_5.rs
  lib/emscripten/tests/emtests/test_sscanf_6.rs
  lib/emscripten/tests/emtests/test_sscanf_caps.rs
  lib/emscripten/tests/emtests/test_sscanf_float.rs
  lib/emscripten/tests/emtests/test_sscanf_n.rs
  lib/emscripten/tests/emtests/test_strcasecmp.rs
  lib/emscripten/tests/emtests/test_strcmp_uni.rs
  lib/emscripten/tests/emtests/test_strndup.rs
  lib/emscripten/tests/emtests/test_strstr.rs
  lib/emscripten/tests/emtests/test_strtod.rs
  lib/emscripten/tests/emtests/test_strtok.rs
  lib/emscripten/tests/emtests/test_strtol_bin.rs
  lib/emscripten/tests/emtests/test_strtol_dec.rs
  lib/emscripten/tests/emtests/test_strtol_hex.rs
  lib/emscripten/tests/emtests/test_strtol_oct.rs
  lib/emscripten/tests/emtests/test_strtoll_bin.rs
  lib/emscripten/tests/emtests/test_strtoll_dec.rs
  lib/emscripten/tests/emtests/test_strtoll_hex.rs
  lib/emscripten/tests/emtests/test_strtoll_oct.rs
  lib/emscripten/tests/emtests/test_struct_varargs.rs
  lib/emscripten/tests/emtests/test_transtrcase.rs
  lib/emscripten/tests/emtests/test_trickystring.rs
  lib/emscripten/tests/emtests/test_unary_literal.rs
  lib/emscripten/tests/emtests/test_vfs.rs
  lib/emscripten/tests/emtests/test_vprintf.rs
  lib/emscripten/tests/emtests/test_vsnprintf.rs
  lib/emscripten/tests/emtests/test_write_stdout_fileno.rs
  lib/emscripten/tests/emtests/test_zerodiv.rs
  src/bin/wasmer.rs
Labels: 🐞 bug, 📦 lib-emscripten

#330 implement strftime
  lib/emscripten/src/time.rs
Labels: 📦 lib-emscripten

#335 allow resize_heap to grow heap in emscripten
  lib/emscripten/src/memory.rs
  lib/runtime-core/src/units.rs
Labels: 📦 lib-emscripten

#341 feat(runtime-core) `Instance.exports` takes `&self` instead of `&mut self`
  lib/runtime-core/src/export.rs
  lib/runtime-core/src/instance.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core

#349 Add CHANGELOG.md
  CHANGELOG.md
Labels: 📚 documentation

#401 chore(changelog) 0.4.0 and 0.3.0 have been released
  CHANGELOG.md
Labels: 📚 documentation
