Repository wasmerio/wasmer, pull requests merged in 2019-09, with the labels that each got.

#735 doc(readme) Improve the language integrations
  README.md
  docs/assets/languages/c.svg
  docs/assets/languages/cpp.svg
  docs/assets/languages/csharp.svg
  docs/assets/languages/go.svg
  docs/assets/languages/php.svg
  docs/assets/languages/postgres.svg
  docs/assets/languages/python.svg
  docs/assets/languages/r.svg
  docs/assets/languages/ruby.svg
  docs/assets/languages/rust.svg
  docs/assets/languages/swift.svg
Labels: 📚 documentation

#491 add beginnings of debugging document
  docs/debugging.md
Labels: 📚 documentation

#779 Add comment to generated code saying that it's generated code for wasi
  lib/wasi-tests/build/wasitests.rs
  lib/wasi-tests/tests/wasitests/close_preopen_fd.rs
  lib/wasi-tests/tests/wasitests/create_dir.rs
  lib/wasi-tests/tests/wasitests/envvar.rs
  lib/wasi-tests/tests/wasitests/fd_allocate.rs
  lib/wasi-tests/tests/wasitests/fd_pread.rs
  lib/wasi-tests/tests/wasitests/fd_read.rs
  lib/wasi-tests/tests/wasitests/fd_sync.rs
  lib/wasi-tests/tests/wasitests/file_metadata.rs
  lib/wasi-tests/tests/wasitests/fs_sandbox_test.rs
  lib/wasi-tests/tests/wasitests/fseek.rs
  lib/wasi-tests/tests/wasitests/hello.rs
  lib/wasi-tests/tests/wasitests/mapdir.rs
  lib/wasi-tests/tests/wasitests/path_link.rs
  lib/wasi-tests/tests/wasitests/path_rename.rs
  lib/wasi-tests/tests/wasitests/path_symlink.rs
  lib/wasi-tests/tests/wasitests/poll_oneoff.rs
  lib/wasi-tests/tests/wasitests/quine.rs
  lib/wasi-tests/tests/wasitests/readlink.rs
  lib/wasi-tests/tests/wasitests/wasi_sees_virtual_root.rs
  lib/wasi-tests/tests/wasitests/writing.rs
Labels: 📦 lib-wasi

#825 doc(runtime-core) Replace `map(|cell| cell.get())` by `map(Cell::get)`.
  lib/runtime-core/src/memory/mod.rs
Labels: 📚 documentation, 📦 lib-runtime-core

#833 Add ImportObject `maybe_with_namespace` example
  CHANGELOG.md
  lib/runtime-core/src/import.rs
Labels: 📚 documentation, 📦 lib-runtime-core
