Repository wasmerio/wasmer, pull requests merged in 2019-12, with the labels that each got.

#1031 Improve portability of code by using c_char
  lib/emscripten/src/syscalls/unix.rs
Labels: 📦 lib-emscripten

#1036 Add experimental invoke support to WASI in wasmer cli
  src/bin/wasmer.rs
Labels: 📦 bin

#1055 Add ARM CI to bors's list
  bors.toml
Labels: 🐞 bug

#1059 Add doc comments for WASI FD associated constants
  lib/wasi/src/state/mod.rs
Labels: daily docs, 📚 documentation

#1063 Add more doc comments to our WASI implementation
  lib/wasi/src/state/builder.rs
  lib/wasi/src/state/mod.rs
Labels: daily docs, 📚 documentation

#1032 Fix abort signature in emscripten ABI
  lib/emscripten/src/exception.rs
  lib/emscripten/src/lib.rs
  lib/emscripten/src/process.rs
Labels: 🐞 bug, 📦 lib-emscripten

#1070 Update Inkwell
  Cargo.lock
  lib/llvm-backend/Cargo.toml
Labels: 📦 lib-llvm-backend

#1072 Add minor changes to runtime/vm doc comments + make fns const fns
  lib/runtime-core/src/vm.rs
Labels: daily docs, 📚 documentation, 📦 lib-runtime-core

#1076 Use function defined in wasmer-runtime-core instead of llvm-backend's own copy of it.
  lib/llvm-backend/src/code.rs
  lib/llvm-backend/src/read_info.rs
Labels: 📦 lib-llvm-backend, 📦 lib-runtime-core

#1075 Add include guards for WASI APIs in runtime-c-api
  lib/runtime-c-api/build.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 📦 lib-runtime-c-api

#1089 Add misc doc link fixes and update old comment
  lib/runtime-core/src/lib.rs
  lib/runtime-core/src/module.rs
  lib/runtime/src/lib.rs
  lib/wasi/src/lib.rs
Labels: 📖 daily docs, 📚 documentation
