Repository wasmerio/wasmer, pull requests merged in 2019-11, with the labels that each got.

#920 Export WasmPtr from wasmer_runtime
  lib/runtime/src/lib.rs
Labels: 🎉 enhancement, 📦 lib-runtime

#926 Fix values of __wasi_advice_t
  lib/wasi/src/syscalls/types.rs
Labels: 🐞 bug, 📦 lib-wasi

#929 Update __wasi_rights_t and __wasi_signal_t with published changes
  lib/wasi/src/syscalls/types.rs
Labels: 🐞 bug, 📦 lib-wasi

#923 Add probable fix of memory leak in trampoline code
  lib/runtime-c-api/src/trampoline.rs
Labels: 🐞 bug

#961 feat(runtime-core) `func!` supports closures
  lib/runtime-core/src/macros.rs
Labels: 📚 documentation, 📦 lib-runtime-core, 🧪 tests

#964 Enable compilation for specific target
  lib/clif-backend/src/code.rs
  lib/llvm-backend/src/code.rs
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/codegen.rs
  lib/singlepass-backend/src/codegen_x64.rs
  src/bin/kwasmd.rs
  src/bin/wasmer.rs
Labels: 🎉 enhancement, 📦 lib-llvm-backend, 📦 lib-runtime-core

#983 Fix github issue link in feature matrix
  docs/feature_matrix.md
Labels: 📚 documentation

#957 Add support for new WASI snapshot, backwards compat too
  CHANGELOG.md
  Cargo.toml
  lib/wasi-tests/src/lib.rs
  lib/wasi-tests/tests/wasitests/_common.rs
  lib/wasi/Cargo.toml
  lib/wasi/src/lib.rs
  lib/wasi/src/syscalls/legacy/mod.rs
  lib/wasi/src/syscalls/legacy/snapshot0.rs
  lib/wasi/src/syscalls/mod.rs
  lib/wasi/src/syscalls/types.rs
  lib/wasi/src/utils.rs
  src/bin/wasmer.rs
Labels: 📦 lib-wasi

#1004 Adapt backend usage depending on wasm file executed
  CHANGELOG.md
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/codegen.rs
  lib/runtime/src/lib.rs
  src/bin/wasmer.rs
Labels: 🎉 enhancement, 📦 bin
