Repository wasmerio/wasmer, pull requests merged in 2020-10, with the labels that each got.

#1690 fix(c-api) `wasm_limits_t` contains `Pages`, not `Bytes` + sentinel value
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/types/memory.rs
Labels: 🐞 bug

#1715 fix(c-api) Register errors from `wasm_module_serialize`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/module.rs
Labels: 🐞 bug

#1725 feat(c-api) Implement `wasm_func_type`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/c-api/src/wasm_c_api/types/function.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#1736 feat(c-api): Implement `wasm_global_type`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/externals/global.rs
  lib/c-api/src/wasm_c_api/types/global.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#1728 Fix bugs in object file engine
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/wasmer.rs
  lib/c-api/wasmer_wasm.h
  lib/cli/src/commands/wasmer_create_exe_main.c
  lib/engine-object-file/README.md
  lib/vm/src/libcalls.rs
  tests/integration/cli/tests/compile.rs
  tests/integration/cli/tests/object_file_engine_test_c_source.c
Labels: 🐞 bug, 📦 lib-engine-object-file

#1741 feat(c-api) Implement `wasm_memory_type`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/externals/memory.rs
  lib/c-api/src/wasm_c_api/types/memory.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#1751 feat(c-api) Correctly implement “trap” in `wasm_func_new*`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/externals/function.rs
Labels: 🎉 enhancement, 🐞 bug, 📦 lib-c-api

#1752 Add more examples for the Rust API
  Cargo.toml
  examples/README.md
  examples/exports_function.rs
  examples/exports_global.rs
  examples/exports_memory.rs
  examples/imports_function.rs
  examples/imports_global.rs
  lib/api/src/exports.rs
  lib/api/src/externals/function.rs
  lib/api/src/externals/global.rs
  lib/api/src/externals/memory.rs
  lib/api/src/lib.rs
  lib/c-api/src/lib.rs
  lib/cli/src/lib.rs
  lib/compiler-llvm/src/lib.rs
  lib/emscripten/src/lib.rs
  lib/wasi/src/lib.rs
Labels: 📚 documentation, 🧪 tests

#1762 fix(wasi) Allow the `=` sign in the environment variable value.
  CHANGELOG.md
  lib/wasi/src/state/builder.rs
Labels: 🐞 bug, 📦 lib-wasi, 🧪 tests

#1768 Merging #1604
  lib/c-api/src/deprecated/instance.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#1761 feat(c-api) Implement the `traps` argument of `wasm_instance_new`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/instance.rs
  lib/c-api/tests/wasm_c_api/CMakeLists.txt
Labels: 🎉 enhancement, 📦 lib-c-api, 🧪 tests

#1765 doc(c-api) Update documentation.
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-c-api

#1784 chore(github) Update code owners
  .github/CODEOWNERS
Labels: 🎉 enhancement, 🤖 bot

#1753 Use a union for VMContext for functions
  lib/api/src/externals/function.rs
  lib/api/src/native.rs
  lib/api/src/types.rs
  lib/deprecated/runtime-core/src/module.rs
  lib/engine/src/resolver.rs
  lib/vm/src/export.rs
  lib/vm/src/instance.rs
  lib/vm/src/lib.rs
  lib/vm/src/trap/traphandlers.rs
  lib/vm/src/vmcontext.rs
Labels: 🎉 enhancement, 📦 lib-vm
