Repository wasmerio/wasmer, pull requests merged in 2020-01, with the labels that each got.

#1119 doc(runtime-c-api) Fix a typo.
  lib/runtime-c-api/src/import/wasi.rs
Labels: 🐞 bug, 📚 documentation, 📦 lib-runtime-c-api

#1144 fix(runtime-c-api) Remove duplicated line
  lib/runtime-c-api/build.rs
Labels: 🐞 bug, 📦 lib-runtime-c-api

#1142 doc(runtime-c-api) Setup Doxygen
  lib/runtime-c-api/.gitignore
  lib/runtime-c-api/doc/index.md
  lib/runtime-c-api/doc/theme/css/wasmer.css
  lib/runtime-c-api/doc/theme/footer.html
  lib/runtime-c-api/doc/theme/header.html
  lib/runtime-c-api/doxyfile
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-runtime-c-api

#1148 fix(runtime-c-api) Fix error message.
  lib/runtime-c-api/src/import/mod.rs
Labels: 🐞 bug, 📦 lib-runtime-c-api

#1149 fix(bin) Remove a warning for unreachable code.
  src/bin/wasmer.rs
Labels: 🐞 bug, 📦 bin

#1154 doc(assets) Reduce Elixir logo to ~25px
  docs/assets/languages/elixir.png
Labels: 🐞 bug, 📚 documentation

#1155 doc(runtime-c-api) Daily documentation improvements
  lib/runtime-c-api/doc/theme/css/wasmer.css
  lib/runtime-c-api/src/instance.rs
  lib/runtime-c-api/src/module.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 🎉 enhancement, 📖 daily docs, 📚 documentation, 📦 lib-runtime-c-api

#1156 Added release badge to wasmex in the README
  README.md
Labels: 🎉 enhancement, 📚 documentation

#1150 doc(readme) Add `brew install wasmer`
  README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 bin

#1172 Share some more code in runtime-core::sys
  lib/runtime-core/src/sys/mod.rs
  lib/runtime-core/src/sys/unix/memory.rs
  lib/runtime-core/src/sys/windows/memory.rs
Labels: 📦 lib-runtime-core

#1181 doc(runtime-c-api) Improve documentation of the `value` module
  lib/runtime-c-api/doc/index.md
  lib/runtime-c-api/doxyfile
  lib/runtime-c-api/src/value.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 🎉 enhancement, 📖 daily docs, 📚 documentation, 📦 lib-runtime-c-api

#1184 Add minor documentation updates
  lib/llvm-backend/src/intrinsics.rs
  lib/runtime/src/lib.rs
Labels: 📖 daily docs, 📚 documentation
