Repository wasmerio/wasmer, pull requests merged in 2020-12, with the labels that each got.

#1837 feat(vm) Ability to use exports after the instance has been freed
  CHANGELOG.md
  lib/api/src/externals/function.rs
  lib/api/src/externals/global.rs
  lib/api/src/externals/memory.rs
  lib/api/src/externals/mod.rs
  lib/api/src/externals/table.rs
  lib/api/src/instance.rs
  lib/api/src/native.rs
  lib/api/src/types.rs
  lib/api/tests/instance.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/deprecated/runtime-core/src/module.rs
  lib/vm/src/export.rs
  lib/vm/src/instance.rs
  lib/vm/src/trap/traphandlers.rs
  lib/vm/src/vmoffsets.rs
Labels: 1.0, 🎉 enhancement, 🐞 bug, 📦 lib-vm

#1839 Metering middleware.
  Cargo.lock
  Cargo.toml
  lib/api/src/lib.rs
  lib/compiler-cranelift/src/compiler.rs
  lib/compiler-cranelift/src/config.rs
  lib/compiler-cranelift/src/translator/func_translator.rs
  lib/compiler-llvm/src/compiler.rs
  lib/compiler-llvm/src/config.rs
  lib/compiler-llvm/src/translator/code.rs
  lib/compiler-singlepass/src/compiler.rs
  lib/compiler-singlepass/src/config.rs
  lib/compiler/README.md
  lib/compiler/src/compiler.rs
  lib/compiler/src/lib.rs
  lib/compiler/src/translator/middleware.rs
  lib/compiler/src/translator/mod.rs
  lib/engine-jit/src/artifact.rs
  lib/engine-native/src/artifact.rs
  lib/engine-native/src/serialize.rs
  lib/engine-object-file/src/artifact.rs
  lib/engine-object-file/src/serialize.rs
  lib/middlewares/Cargo.toml
  lib/middlewares/README.md
  lib/middlewares/src/lib.rs
  lib/middlewares/src/metering.rs
  lib/vm/src/module.rs
  tests/compilers/main.rs
  tests/compilers/metering.rs
  tests/compilers/middlewares.rs
  tests/compilers/utils.rs
Labels: 1.0, ⏱ metering, 🎉 enhancement

#1854 chore: Update memoffset
  Cargo.lock
  lib/vm/Cargo.toml
Labels: dependencies

#1845 chore: Update `wast`
  Cargo.lock
  tests/lib/wast/Cargo.toml
  tests/wasi-wast/Cargo.toml
Labels: 1.0, dependencies, 🎉 enhancement

#1867 feat(examples): Add metering example
  CHANGELOG.md
  Cargo.toml
  examples/metering.rs
  lib/api/src/lib.rs
  lib/middlewares/src/metering.rs
Labels: 1.0

#1866 Add cache back via sccache
  .github/workflows/main.yaml
  bors.toml
Labels: 1.0

#1871 chore: Add C examples
  .github/workflows/main.yaml
  .gitignore
  Makefile
  lib/c-api/examples/.gitignore
  lib/c-api/examples/Makefile
  lib/c-api/examples/exports-function.c
  lib/c-api/examples/exports-global.c
  lib/c-api/examples/imports-exports.c
  lib/c-api/examples/instance.c
  lib/c-api/examples/memory.c
  lib/c-api/src/wasm_c_api/externals/global.rs
  lib/c-api/wasmer_wasm.h
Labels: 1.0, 🎉 enhancement, 📚 documentation

#1870 Added basic AddressMap support for singlepass
  lib/compiler-singlepass/src/address_map.rs
  lib/compiler-singlepass/src/codegen_x64.rs
  lib/compiler-singlepass/src/compiler.rs
  lib/compiler-singlepass/src/lib.rs
  lib/engine/src/trap/frame_info.rs
Labels: 1.0, 🎉 enhancement

#1895 feat(examples): Add examples on basics of imports and exports
  Cargo.toml
  examples/imports_exports.rs
Labels: 🎉 enhancement, 📚 documentation

#1915 lib: api; native remove unused, engine; add dead_code
  lib/engine-object-file/src/artifact.rs
Labels: 🐞 bug, 📦 lib-api

#1851 test+doc(c-api): Test and document the C A PI
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/instance.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/mod.rs
  lib/c-api/src/wasm_c_api/module.rs
  lib/c-api/wasmer_wasm.h
Labels: 1.0, 📚 documentation, 📦 lib-c-api, 🧪 tests

#1919 test(c-api) Remove a useless test and update `inline-c`
  lib/c-api/Cargo.toml
  lib/c-api/tests/Makefile
  lib/c-api/tests/test-wat2wasm.c
Labels: 🎉 enhancement, 📦 lib-c-api, 🧪 tests

#1896 Improve Wasmer API intro docs
  lib/api/README.md
  lib/api/src/exports.rs
  lib/api/src/externals/function.rs
  lib/api/src/externals/global.rs
  lib/api/src/externals/memory.rs
  lib/api/src/externals/mod.rs
  lib/api/src/externals/table.rs
  lib/api/src/instance.rs
  lib/api/src/lib.rs
  lib/api/src/store.rs
  lib/api/src/types.rs
Labels: 📚 documentation, 📦 lib-api

#1902 Fix memory leak in `InstanceAllocator` on failure
  lib/engine/src/artifact.rs
  lib/vm/src/export.rs
  lib/vm/src/instance/allocator.rs
  lib/vm/src/instance/mod.rs
  lib/vm/src/lib.rs
  lib/vm/src/vmoffsets.rs
Labels: 🐞 bug, 📦 lib-vm

#1916 feat(c-api) Add the `WASMER_VERSION*` constants, and the `wasmer_version*` functions
  CHANGELOG.md
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/mod.rs
  lib/c-api/src/wasm_c_api/version.rs
  lib/c-api/wasmer.h
  lib/c-api/wasmer.hh
  lib/c-api/wasmer_wasm.h
Labels: 1.0, 🎉 enhancement, 📚 documentation, 📦 lib-c-api, 🧪 tests

#1911 Add support for const function signatures
  CHANGELOG.md
  lib/api/src/externals/function.rs
  lib/api/tests/externals.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/deprecated/runtime-core/src/typed_func.rs
  lib/wasi/src/lib.rs
  lib/wasmer-types/src/types.rs
  tests/compilers/imports.rs
  tests/compilers/native_functions.rs
Labels: 🎉 enhancement, 📦 lib-types, 🧪 tests

#1929 fix(vm) Update doc', clarify type fields etc.
  lib/api/src/externals/function.rs
  lib/api/src/externals/global.rs
  lib/api/src/externals/memory.rs
  lib/api/src/externals/table.rs
  lib/api/src/native.rs
  lib/api/src/types.rs
  lib/vm/src/export.rs
  lib/vm/src/instance/allocator.rs
  lib/vm/src/instance/mod.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-vm

#1938 Update migration docs for host envs / functions
  docs/migration_to_1.0.0.md
Labels: 📚 documentation

#1930 test+doc(c-api) Improve test coverage and documentation of the C API
  lib/c-api/Cargo.toml
  lib/c-api/src/error.rs
  lib/c-api/src/lib.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/instance.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/mod.rs
  lib/c-api/src/wasm_c_api/module.rs
  lib/c-api/src/wasm_c_api/store.rs
  lib/c-api/src/wasm_c_api/value.rs
  lib/c-api/src/wasm_c_api/version.rs
  lib/c-api/src/wasm_c_api/wasmer.rs
  lib/c-api/src/wasm_c_api/wat.rs
  lib/c-api/wasmer.h
  lib/c-api/wasmer.hh
  lib/c-api/wasmer_wasm.h
  lib/compiler-cranelift/src/lib.rs
Labels: 📚 documentation, 📦 lib-c-api, 🧪 tests

#1865 Fix memory leak in host function envs
  CHANGELOG.md
  examples/imports_function_env.rs
  lib/api/src/env.rs
  lib/api/src/externals/function.rs
  lib/api/src/native.rs
  lib/api/src/types.rs
  lib/api/tests/externals.rs
  lib/c-api/src/deprecated/import/mod.rs
  lib/c-api/src/deprecated/instance.rs
  lib/c-api/src/deprecated/module.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/deprecated/runtime-core/Cargo.lock
  lib/deprecated/runtime-core/src/instance.rs
  lib/deprecated/runtime-core/src/lib.rs
  lib/deprecated/runtime-core/src/typed_func.rs
  lib/deprecated/runtime-core/src/types.rs
  lib/deprecated/runtime-core/src/vm.rs
  lib/deprecated/runtime/Cargo.lock
  lib/emscripten/src/lib.rs
  lib/emscripten/src/syscalls/unix.rs
  lib/engine/src/artifact.rs
  lib/engine/src/export.rs
  lib/engine/src/lib.rs
  lib/engine/src/resolver.rs
  lib/vm/src/export.rs
  lib/vm/src/imports.rs
  lib/vm/src/instance/mod.rs
  lib/vm/src/lib.rs
  lib/vm/src/vmcontext.rs
  tests/compilers/imports.rs
  tests/compilers/native_functions.rs
Labels: 1.0, 🎉 enhancement

#1894 Expose wasmer::{CraneliftOptLevel, LLVMOptLevel}
  CHANGELOG.md
  lib/api/src/lib.rs
  lib/compiler-cranelift/src/config.rs
  lib/compiler-cranelift/src/lib.rs
  lib/compiler-llvm/src/config.rs
  lib/compiler-llvm/src/lib.rs
Labels: 🎉 enhancement, 📦 lib-api, 📦 lib-compiler-cranelift

#1948 doc: Fix links
  lib/api/src/externals/memory.rs
  lib/api/src/externals/table.rs
  lib/compiler-cranelift/src/config.rs
  lib/compiler/src/error.rs
  lib/compiler/src/function.rs
  lib/compiler/src/jump_table.rs
  lib/compiler/src/relocation.rs
  lib/compiler/src/unwind.rs
  lib/engine/src/trap/frame_info.rs
  lib/vm/src/instance/allocator.rs
  lib/vm/src/module.rs
  lib/vm/src/vmcontext.rs
  lib/wasi/src/state/mod.rs
  lib/wasmer-types/src/types.rs
Labels: 🐞 bug, 📚 documentation

#1949 test+doc(c-api) Fix vecs that must be boxed vecs + don't transmute uninitialized boxed vecs
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/types/frame.rs
  lib/c-api/src/wasm_c_api/types/function.rs
  lib/c-api/src/wasm_c_api/types/global.rs
  lib/c-api/src/wasm_c_api/types/memory.rs
  lib/c-api/src/wasm_c_api/types/table.rs
Labels: 🐞 bug, 📚 documentation, 📦 lib-c-api, 🧪 tests

#1955 Make `jit` a default feature for `wasmer-wasm-c-api`
  CHANGELOG.md
  lib/c-api/Cargo.toml
Labels: 📦 lib-c-api

#1953 Get `multi.c` working in the Wasm C API
  lib/c-api/src/wasm_c_api/externals/mod.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/types/export.rs
  lib/c-api/src/wasm_c_api/types/function.rs
  lib/c-api/src/wasm_c_api/types/global.rs
  lib/c-api/src/wasm_c_api/types/import.rs
  lib/c-api/src/wasm_c_api/types/memory.rs
  lib/c-api/src/wasm_c_api/types/table.rs
  lib/c-api/src/wasm_c_api/value.rs
  lib/c-api/tests/Makefile
  lib/c-api/tests/wasm-c-api/example/multi.c
Labels: 📦 lib-c-api
