Repository wasmerio/wasmer, pull requests merged in 2020-04, with the labels that each got.

#1331 feat(interface-types) Implement the `record` instructions
  Cargo.lock
  lib/interface-types/Cargo.toml
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/errors.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/instructions/records.rs
  lib/interface-types/src/interpreter/instructions/strings.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/interpreter/wasm/mod.rs
  lib/interface-types/src/interpreter/wasm/serde/de.rs
  lib/interface-types/src/interpreter/wasm/serde/mod.rs
  lib/interface-types/src/interpreter/wasm/serde/ser.rs
  lib/interface-types/src/interpreter/wasm/structures.rs
  lib/interface-types/src/interpreter/wasm/values.rs
  lib/interface-types/src/lib.rs
  lib/interface-types/src/macros.rs
  lib/interface-types/src/vec1.rs
  lib/interface-types/tests/binary.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types, 🧪 tests

#1355 doc(changelog) Add #1331
  CHANGELOG.md
Labels: 📚 documentation, 📦 lib-interface-types

#1354 test(middleware-common) Remove an unused import
  lib/middleware-common-tests/src/lib.rs
Labels: 🧪 tests

#1361 doc(interface-types) Add `record` instructions in the `README.md`
  lib/interface-types/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types

#1363 fix(interface-types) Don't duplicate code in the binary encoder.
  lib/interface-types/src/encoders/binary.rs
Labels: 🐞 bug, 📦 lib-interface-types

#1367 Move `dev-utils` crate into `tests`
  Cargo.lock
  Cargo.toml
  Makefile
  lib/dev-utils/Cargo.toml
  lib/dev-utils/README.md
  lib/dev-utils/src/lib.rs
  src/commands/run.rs
  tests/dev_utils/file_descriptor.rs
  tests/dev_utils/mod.rs
  tests/dev_utils/stdio.rs
  tests/emtest.rs
  tests/emtests/_common.rs
  tests/wasitest.rs
  tests/wasitests/_common.rs
Labels: 🧪 tests

#1369 Fix broken makefile commands and improve test consistency
  Makefile
  tests/spectest.rs
Labels: 🐞 bug, 📦 lib-spectests, 🧪 tests

#1362 feat(interface-types) Remove allocator index from `string.lower_memory`
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/instructions/strings.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/macros.rs
Labels: 🎉 enhancement, 📦 lib-interface-types

#1371 Update tests to use new API where easily possible
  Cargo.lock
  Cargo.toml
  lib/api/Cargo.toml
  lib/api/src/lib.rs
  tests/emscripten.rs
  tests/emtests/_common.rs
  tests/exception_handling.rs
  tests/imports.rs
  tests/llvm_compile.rs
  tests/middleware_common.rs
  tests/override.rs
  tests/runtime_core_tests/mod.rs
  tests/spectest.rs
  tests/spectest_semantics.rs
  tests/wasi_serialization.rs
  tests/wasitests/_common.rs
Labels: 📦 lib-api, 📦 lib-spectests, 🧪 tests

#1370 feat(interface-types) Crate reorganization
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/errors.rs
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/instructions/numbers.rs
  lib/interface-types/src/interpreter/instructions/records.rs
  lib/interface-types/src/interpreter/instructions/strings.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/interpreter/wasm/mod.rs
  lib/interface-types/src/interpreter/wasm/structures.rs
  lib/interface-types/src/lib.rs
  lib/interface-types/src/macros.rs
  lib/interface-types/src/serde/de.rs
  lib/interface-types/src/serde/mod.rs
  lib/interface-types/src/serde/ser.rs
  lib/interface-types/src/types.rs
  lib/interface-types/src/values.rs
  lib/interface-types/tests/binary.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types

#1358 Update C API to use new API
  Cargo.lock
  lib/api/src/lib.rs
  lib/runtime-c-api/Cargo.toml
  lib/runtime-c-api/src/export.rs
  lib/runtime-c-api/src/global.rs
  lib/runtime-c-api/src/import/emscripten.rs
  lib/runtime-c-api/src/import/mod.rs
  lib/runtime-c-api/src/instance.rs
  lib/runtime-c-api/src/lib.rs
  lib/runtime-c-api/src/memory.rs
  lib/runtime-c-api/src/module.rs
  lib/runtime-c-api/src/table.rs
  lib/runtime-c-api/src/trampoline.rs
  lib/runtime-c-api/src/value.rs
  lib/runtime-core/src/module.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-runtime-c-api

#1410 feat(runtime-core) Implement `ImportObjectIterator::size_hint`.
  lib/runtime-core/src/import.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core

#1401 Make runtime and trap errors well defined
  CHANGELOG.md
  examples/callback-guest/callback-guest.wasm
  lib/clif-backend/src/signal/mod.rs
  lib/clif-backend/src/signal/unix.rs
  lib/clif-backend/src/signal/windows.rs
  lib/llvm-backend/cpp/object_loader.cpp
  lib/llvm-backend/cpp/object_loader.hh
  lib/llvm-backend/src/backend.rs
  lib/llvm-backend/src/code.rs
  lib/middleware-common/src/metering.rs
  lib/runtime-c-api/src/import/mod.rs
  lib/runtime-c-api/tests/test-import-trap.c
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/codegen.rs
  lib/runtime-core/src/error.rs
  lib/runtime-core/src/fault.rs
  lib/runtime-core/src/instance.rs
  lib/runtime-core/src/state.rs
  lib/runtime-core/src/tiering.rs
  lib/runtime-core/src/typed_func.rs
  lib/runtime-core/src/vm.rs
  lib/runtime/examples/call.rs
  lib/singlepass-backend/src/codegen_x64.rs
  src/commands/run.rs
  tests/high_level_api.rs
  tests/imports.rs
  tests/middleware_common.rs
Labels: 📦 lib-clif-backend, 📦 lib-llvm-backend, 📦 lib-runtime-core, 📦 lib-singlepass-backend

#1413 some minor improvements
  lib/runtime-c-api/src/import/mod.rs
  lib/runtime-core/src/import.rs
  lib/runtime-core/src/instance.rs
  lib/wasi/src/syscalls/mod.rs
  src/commands/cache.rs
  tests/test-generator/src/lib.rs
  tests/wast/src/wast.rs
Labels: 📦 lib-runtime-core, 📦 lib-wasi

#1414 Update doc comment for `RuntimeError`
  lib/runtime-core/src/error.rs
Labels: 📚 documentation, 📦 lib-runtime-core
