Repository wasmerio/wasmer, pull requests merged in 2020-03, with the labels that each got.

#1265 Improve `WasmPtr` documentation
  lib/runtime-core/src/memory/ptr.rs
  lib/runtime-core/src/types.rs
Labels: 📖 daily docs, 📚 documentation, 📦 lib-runtime-core

#1264 feat(interface-types) Implement lifting and lowering instructions
  lib/interface-types/src/interpreter/instructions/lowering_lifting.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/macros.rs
Labels: 🎉 enhancement, 📦 lib-interface-types, 🧪 tests

#1267 Improve support for preopened directories in WASI syscalls
  CHANGELOG.md
  lib/wasi/src/state/mod.rs
  lib/wasi/src/syscalls/mod.rs
  src/logging.rs
Labels: 📦 lib-wasi

#1272 Fix WasmPtr to work with accesses accessing the final valid byte
  CHANGELOG.md
  lib/runtime-core/src/memory/ptr.rs
Labels: 📦 lib-runtime-core

#1282 doc(interface-types) Improve the `README.md`
  lib/interface-types/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types

#1281 feat(interface-types) Rename `call` to `call-core`, and remove `call-export`
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/call_export.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/mod.rs
Labels: 🎉 enhancement, 📦 lib-interface-types

#1284 feat(interface-types) Implement string and memory instructions
  CHANGELOG.md
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/memory_to_string.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/instructions/string_to_memory.rs
  lib/interface-types/src/interpreter/instructions/write_utf8.rs
  lib/interface-types/src/interpreter/mod.rs
Labels: 🎉 enhancement, 📦 lib-interface-types

#1294 Allow zero length arrays and check base offset for being out of bounds
  lib/runtime-core/src/memory/ptr.rs
Labels: 🐞 bug, 📦 lib-runtime-core

#1270 test(runtime-core) Test polymorphic host functions with more types
  lib/runtime-core-tests/tests/imports.rs
Labels: 🐞 bug, 📦 lib-runtime-core

#1285 feat(interface-types) Greatly improve errors
  CHANGELOG.md
  lib/interface-types/src/ast.rs
  lib/interface-types/src/errors.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/argument_get.rs
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/lowering_lifting.rs
  lib/interface-types/src/interpreter/instructions/memory_to_string.rs
  lib/interface-types/src/interpreter/instructions/mod.rs
  lib/interface-types/src/interpreter/instructions/string_to_memory.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/interpreter/wasm/values.rs
  lib/interface-types/src/lib.rs
  lib/interface-types/src/macros.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types, 🧪 tests

#1298 doc(interface-types) Update the state of supported instructions
  lib/interface-types/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types

#1317 Fix OSX static library packaging
  Makefile
Labels: 🐞 bug, 📦 lib-runtime-c-api

#1320 Support multiple custom sections with the same name
  CHANGELOG.md
  lib/runtime-core/src/module.rs
Labels: 📦 lib-runtime-core

#1292 Experimental Support for Android (x86_64 and AArch64)
  .azure/install-rust.yml
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Makefile
  azure-pipelines.yml
  ci/README.md
  ci/android-install-ndk.sh
  ci/android-install-sdk.sh
  ci/android-sysimage.sh
  ci/docker/aarch64-linux-android/Dockerfile
  ci/docker/x86_64-linux-android/Dockerfile
  ci/run-docker.sh
  ci/runtest-android.rs
  lib/clif-backend/src/libcalls.rs
  lib/clif-backend/src/signal/unix.rs
  lib/runtime-core/Cargo.toml
  lib/runtime-core/build.rs
  lib/runtime-core/src/fault.rs
  lib/singlepass-backend/Cargo.toml
  lib/singlepass-backend/src/lib.rs
  lib/wasi/src/syscalls/mod.rs
Labels: 🎉 enhancement, 📦 lib-runtime

#1327 fix(interface-types) Stack pops items in the same order than Wasm invocation rule
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/memory_to_string.rs
  lib/interface-types/src/interpreter/stack.rs
Labels: 🐞 bug, 📦 lib-interface-types

#1332 Add `CompilerConfig` opt to disable IR verification in debug mode
  CHANGELOG.md
  lib/clif-backend/src/lib.rs
  lib/clif-backend/src/trampoline.rs
  lib/runtime-core/src/backend.rs
  lib/spectests/tests/spectest.rs
Labels: 📦 lib-clif-backend, 📦 lib-runtime-core

#1335 fix(runtime-c-api) Change mutability of `memory` to`const` in `wasmer_memory_data_length`
  CHANGELOG.md
  lib/runtime-c-api/src/memory.rs
  lib/runtime-c-api/wasmer.h
  lib/runtime-c-api/wasmer.hh
Labels: 🐞 bug, 📦 lib-runtime-c-api

#1337 feat(interface-types) Better handling of i32 to usize casts
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/errors.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/argument_get.rs
  lib/interface-types/src/interpreter/instructions/call_core.rs
  lib/interface-types/src/interpreter/instructions/strings.rs
Labels: 🎉 enhancement, 📦 lib-interface-types

#1313 Add types and methods to provide updated API
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  examples/callback.rs
  examples/parallel/src/main.rs
  examples/plugin.rs
  fuzz/fuzz_targets/validate_wasm.rs
  lib/api-tests/Cargo.toml
  lib/api-tests/src/lib.rs
  lib/api-tests/tests/high_level_api.rs
  lib/api/Cargo.toml
  lib/api/src/lib.rs
  lib/emscripten/src/lib.rs
  lib/middleware-common-tests/benches/metering_benchmark.rs
  lib/middleware-common-tests/src/lib.rs
  lib/runtime-core-tests/tests/imports.rs
  lib/runtime-core/src/export.rs
  lib/runtime-core/src/instance.rs
  lib/runtime-core/src/macros.rs
  lib/runtime-core/src/module.rs
  lib/runtime-core/src/table/anyfunc.rs
  lib/runtime-core/src/table/mod.rs
  lib/runtime-core/src/typed_func.rs
  lib/runtime-core/src/types.rs
  lib/runtime-core/src/units.rs
  lib/runtime-core/src/vm.rs
  lib/runtime/README.md
  lib/runtime/benches/many_instances.rs
  lib/runtime/examples/call.rs
  lib/runtime/src/cache.rs
  lib/runtime/src/lib.rs
  lib/runtime/tests/error_propagation.rs
  lib/wasi-tests/src/lib.rs
  src/bin/kwasmd.rs
  src/bin/wasmer.rs
Labels: 📦 lib-runtime-core
