Repository wasmerio/wasmer, pull requests merged in 2020-02, with the labels that each got.

#1186 Improve some docs and misc code segments
  lib/llvm-backend/src/intrinsics.rs
  lib/runtime-core/src/global.rs
  lib/runtime-core/src/lib.rs
  lib/runtime-core/src/loader.rs
  lib/runtime-core/src/typed_func.rs
  lib/wasi/src/macros.rs
Labels: 📚 documentation

#1201 fix(runtime-c-api) Remove a file that should have been ignored
  lib/runtime-c-api/tests/test-import-object
Labels: 🐞 bug, 📦 lib-runtime-c-api, 🧪 tests

#1208 Fix trap handling bug on Windows and add test
  lib/runtime-core-tests/tests/exception_handling.rs
  lib/win-exception-handler/exception_handling/exception_handling.c
Labels: 🐞 bug, 📦 lib-win-exception-handler, 🧪 tests

#1215 fix(interface-types) Remove a `dbg!` macro
  lib/interface-types/src/decoders/binary.rs
Labels: 🐞 bug, 📦 lib-interface-types

#1221 doc(interface-types) Add a `README.md` file
  lib/interface-types/README.md
Labels: 📚 documentation, 📦 lib-interface-types

#1229 Add clippy::missing_safety_doc lint to wasi, misc clean up
  lib/wasi/src/lib.rs
  lib/wasi/src/state/mod.rs
  lib/wasi/src/state/types.rs
  lib/wasi/src/syscalls/types.rs
  lib/wasi/src/utils.rs
Labels: 📦 lib-wasi

#1233 Improved Wasmer C API release artifacts
  .gitignore
  .travis.yml
  CHANGELOG.md
  Makefile
  azure-pipelines.yml
  lib/runtime-c-api/Cargo.toml
  lib/runtime-c-api/doc/index.md
  lib/runtime/Cargo.toml
  scripts/capi-name.sh
Labels: 🎉 enhancement, 📦 lib-runtime-c-api, 🤖 bot

#1232 feat(interface-types) Implement the WAT decoder
  CHANGELOG.md
  Cargo.lock
  lib/interface-types/Cargo.toml
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/mod.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/lib.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types, 🧪 tests

#1238 doc(readme) Fix logo
  lib/clif-backend/README.md
  lib/dev-utils/README.md
  lib/interface-types/README.md
  lib/llvm-backend/README.md
  lib/runtime-c-api/README.md
  lib/runtime-c-api/doxyfile
  lib/runtime-core/README.md
  lib/runtime/README.md
  lib/singlepass-backend/README.md
  lib/spectests/README.md
  lib/win-exception-handler/README.md
Labels: 🐞 bug, 📚 documentation

#1225 feat(runtime-core) Allow dynamic signature for polymorphic host functions
  lib/runtime-core-tests/tests/imports.rs
  lib/runtime-core/src/typed_func.rs
Labels: 🎉 enhancement, 📦 lib-runtime-core, 🧪 tests

#1250 Update wasmparser to 0.51.3 and clif forks to 0.59
  Cargo.lock
  lib/clif-backend/Cargo.toml
  lib/clif-backend/src/code.rs
  lib/clif-backend/src/lib.rs
  lib/clif-backend/src/relocation.rs
  lib/clif-backend/src/trampoline.rs
  lib/llvm-backend/Cargo.toml
  lib/llvm-backend/src/code.rs
  lib/llvm-backend/src/read_info.rs
  lib/llvm-backend/src/state.rs
  lib/runtime-core/Cargo.toml
  lib/runtime-core/src/codegen.rs
  lib/runtime-core/src/lib.rs
  lib/runtime-core/src/parse.rs
Labels: 📦 lib-clif-backend, 📦 lib-llvm-backend, 📦 lib-runtime-core

#1212 Add support for GDB JIT debugging
  ATTRIBUTIONS.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  lib/clif-backend/Cargo.toml
  lib/clif-backend/src/code.rs
  lib/clif-backend/src/module.rs
  lib/clif-backend/src/resolver.rs
  lib/llvm-backend/Cargo.toml
  lib/llvm-backend/src/code.rs
  lib/middleware-common/src/block_trace.rs
  lib/middleware-common/src/call_trace.rs
  lib/middleware-common/src/metering.rs
  lib/runtime-core/Cargo.toml
  lib/runtime-core/src/backend.rs
  lib/runtime-core/src/codegen.rs
  lib/runtime-core/src/jit_debug.rs
  lib/runtime-core/src/lib.rs
  lib/runtime-core/src/module.rs
  lib/runtime-core/src/parse.rs
  lib/runtime-core/src/structures/map.rs
  lib/runtime-core/src/vm.rs
  lib/singlepass-backend/src/codegen_x64.rs
  src/bin/wasmer.rs
Labels: 📦 bin, 📦 lib-clif-backend, 📦 lib-runtime-core

#1244 feat(interface-types) Update to last standard version
  lib/interface-types/src/ast.rs
  lib/interface-types/src/decoders/binary.rs
  lib/interface-types/src/decoders/wat.rs
  lib/interface-types/src/encoders/binary.rs
  lib/interface-types/src/encoders/wat.rs
  lib/interface-types/src/interpreter/instruction.rs
  lib/interface-types/src/interpreter/instructions/argument_get.rs
  lib/interface-types/src/interpreter/mod.rs
  lib/interface-types/src/interpreter/wasm/values.rs
  lib/interface-types/src/macros.rs
  lib/interface-types/tests/binary.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-interface-types, 🧪 tests
