Repository wasmerio/wasmer, pull requests merged in 2021-08, with the labels that each got.

#2518 fix(engine-dylib) Remove temporary file used to creating an artifact
  CHANGELOG.md
  lib/engine-dylib/src/artifact.rs
Labels: 🐞 bug, 📦 lib-engine-dylib

#2521 feat(c-api) Create `OrderedResolver` from a parallel iterator.
  Cargo.lock
  lib/c-api/CHANGELOG.md
  lib/c-api/Cargo.toml
  lib/c-api/src/ordered_resolver.rs
  lib/c-api/src/wasm_c_api/instance.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#2535 Feature/ios headless support
  .github/workflows/main.yaml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Makefile
  examples/platform_ios_headless.rs
  lib/api/Cargo.toml
  lib/c-api/Cargo.toml
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/src/wasm_c_api/unstable/mod.rs
  lib/c-api/wasmer.h
  lib/compiler-cranelift/Cargo.toml
  lib/compiler-llvm/Cargo.toml
  lib/compiler-llvm/src/translator/stackmap.rs
  lib/compiler-singlepass/Cargo.toml
  lib/compiler/Cargo.toml
  lib/emscripten/src/syscalls/unix.rs
  lib/emscripten/src/time.rs
  lib/engine-dylib/src/artifact.rs
  lib/engine-staticlib/src/artifact.rs
  lib/engine/Cargo.toml
  lib/vm/src/libcalls.rs
  lib/vm/src/trap/traphandlers.rs
  lib/wasi/src/syscalls/mod.rs
  tests/integration/ios/.gitignore
  tests/integration/ios/Cargo.toml
  tests/integration/ios/DylibExample/DylibExample.xcodeproj/project.pbxproj
  tests/integration/ios/DylibExample/DylibExample.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  tests/integration/ios/DylibExample/DylibExample.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  tests/integration/ios/DylibExample/DylibExample.xcodeproj/xcshareddata/xcschemes/DylibExample.xcscheme
  tests/integration/ios/DylibExample/DylibExample/AppDelegate.swift
  tests/integration/ios/DylibExample/DylibExample/Assets.xcassets/AccentColor.colorset/Contents.json
  tests/integration/ios/DylibExample/DylibExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  tests/integration/ios/DylibExample/DylibExample/Assets.xcassets/Contents.json
  tests/integration/ios/DylibExample/DylibExample/Base.lproj/LaunchScreen.storyboard
  tests/integration/ios/DylibExample/DylibExample/Base.lproj/Main.storyboard
  tests/integration/ios/DylibExample/DylibExample/DylibExample-Bridging-Header.h
  tests/integration/ios/DylibExample/DylibExample/Info.plist
  tests/integration/ios/DylibExample/DylibExample/SceneDelegate.swift
  tests/integration/ios/DylibExample/DylibExample/ViewController.swift
  tests/integration/ios/DylibExample/DylibExample/calc.cpp
  tests/integration/ios/DylibExample/DylibExample/calc.h
  tests/integration/ios/DylibExample/DylibExample/sum.wasm
  tests/integration/ios/DylibExample/DylibExampleTests/DylibExampleTests.swift
  tests/integration/ios/DylibExample/DylibExampleTests/Info.plist
  tests/integration/ios/tests/dylib.rs
Labels: 🎉 enhancement, 🧪 tests, 🤖 bot, 📦 lib-api, 📦 lib-engine-dylib, 📦 lib-vm

#2491 Base support for WASI in wasmer-js
  .github/workflows/documentation.yaml
  .github/workflows/test-js.yaml
  .github/workflows/test-sys.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  lib/api/src/js/externals/memory.rs
  lib/api/src/js/import_object.rs
  lib/api/src/sys/externals/memory.rs
  lib/c-api/src/wasm_c_api/wasi/capture_files.rs
  lib/cli/Cargo.toml
  lib/cli/src/commands/run.rs
  lib/cli/src/logging.rs
  lib/engine/src/artifact.rs
  lib/types/src/memory_view.rs
  lib/vfs/Cargo.toml
  lib/vfs/src/host_fs.rs
  lib/vfs/src/lib.rs
  lib/vfs/src/mem_fs/file.rs
  lib/vfs/src/mem_fs/file_opener.rs
  lib/vfs/src/mem_fs/filesystem.rs
  lib/vfs/src/mem_fs/mod.rs
  lib/vfs/src/mem_fs/stdio.rs
  lib/wasi-experimental-io-devices/Cargo.toml
  lib/wasi-experimental-io-devices/src/lib.rs
  lib/wasi/Cargo.toml
  lib/wasi/src/lib.rs
  lib/wasi/src/macros.rs
  lib/wasi/src/ptr.rs
  lib/wasi/src/state/builder.rs
  lib/wasi/src/state/mod.rs
  lib/wasi/src/state/types.rs
  lib/wasi/src/syscalls/mod.rs
  lib/wasi/src/syscalls/wasm32.rs
  lib/wasi/tests/envvar.rs
  lib/wasi/tests/envvar.wasm
  lib/wasi/tests/envvar.wat
  lib/wasi/tests/js.rs
  lib/wasi/tests/stdin-hello.wasm
  tests/ignores.txt
  tests/lib/compiler-test-derive/src/lib.rs
  tests/lib/compiler-test-derive/src/tests.rs
  tests/lib/wast/Cargo.toml
  tests/lib/wast/src/wasi_wast.rs
Labels: 🎉 enhancement, 📦 lib-wasi, 📦 lib-api

#2545 fix(vfs) Opening in append-mode must ignore seek operations
  lib/vfs/src/mem_fs/file.rs
  lib/vfs/src/mem_fs/file_opener.rs
Labels: 🐞 bug, 📦 lib-vfs
