Repository wasmerio/wasmer, pull requests merged in 2021-07, with the labels that each got.

#2447 Fix the date in changelog
  CHANGELOG.md
Labels: 🐞 bug, 📚 documentation

#2427 chore: Update `loupe` to 0.1.3
  CHANGELOG.md
  Cargo.lock
Labels: 🎉 enhancement, 🤖 bot

#2449 feat: Configure `soname`, `install_name`, `out-implib` etc. for the C API
  .cargo/config.toml
  Cargo.lock
  lib/c-api/CHANGELOG.md
  lib/c-api/Cargo.toml
  lib/c-api/build.rs
Labels: 🎉 enhancement, 📦 lib-c-api

#2428 Don't fail make install if WASMER_INSTALL_PREFIX isn't set
  Makefile
  PACKAGING.md
Labels: 🐞 bug

#2446 feat(c-api) Update cbindgen to 0.19
  .github/workflows/lint.yaml
  Cargo.lock
  lib/c-api/Cargo.toml
Labels: 🎉 enhancement, 📦 lib-c-api

#2457 fix(c-api) Rename lib's name to `wasmer`
  .github/workflows/documentation.yaml
  Cargo.lock
  Makefile
  lib/c-api/Cargo.toml
  lib/c-api/build.rs
  lib/c-api/src/error.rs
  lib/c-api/src/ordered_resolver.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/c-api/src/wasm_c_api/externals/global.rs
  lib/c-api/src/wasm_c_api/externals/memory.rs
  lib/c-api/src/wasm_c_api/externals/mod.rs
  lib/c-api/src/wasm_c_api/externals/table.rs
  lib/c-api/src/wasm_c_api/instance.rs
  lib/c-api/src/wasm_c_api/module.rs
  lib/c-api/src/wasm_c_api/store.rs
  lib/c-api/src/wasm_c_api/trap.rs
  lib/c-api/src/wasm_c_api/types/export.rs
  lib/c-api/src/wasm_c_api/types/extern_.rs
  lib/c-api/src/wasm_c_api/types/frame.rs
  lib/c-api/src/wasm_c_api/types/function.rs
  lib/c-api/src/wasm_c_api/types/global.rs
  lib/c-api/src/wasm_c_api/types/import.rs
  lib/c-api/src/wasm_c_api/types/memory.rs
  lib/c-api/src/wasm_c_api/types/mutability.rs
  lib/c-api/src/wasm_c_api/types/table.rs
  lib/c-api/src/wasm_c_api/types/value.rs
  lib/c-api/src/wasm_c_api/unstable/middlewares/metering.rs
  lib/c-api/src/wasm_c_api/unstable/middlewares/mod.rs
  lib/c-api/src/wasm_c_api/unstable/parser/operator.rs
  lib/c-api/src/wasm_c_api/unstable/target_lexicon.rs
  lib/c-api/src/wasm_c_api/unstable/wasi.rs
  lib/c-api/src/wasm_c_api/value.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/src/wasm_c_api/wat.rs
  lib/engine-staticlib/README.md
  tests/integration/cli/src/assets.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-c-api, 🤖 bot, 🧪 tests

#2458 add notes for llvm
  lib/compiler-llvm/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-compiler-llvm

#2462 feat: Add the `stale` bot
  .github/stale.yml
Labels: 🎉 enhancement, 🤖 bot

#2479 Error on wasmer validate if the provided file is not wasm. Fix #2477
  lib/cli/src/commands/validate.rs
Labels: 🎉 enhancement, 📦 lib-cli

#2481 doc(c-api) Fix CHAGNELOG
  CHANGELOG.md
  lib/c-api/CHANGELOG.md
Labels: 🐞 bug, 📚 documentation

#2482 doc(makefile) Make `sed -i` cross-platform to fix `wasmer-c-api`'s doc.
  Makefile
Labels: 🐞 bug, 📚 documentation, 📦 lib-c-api, 🤖 bot

#2408 test(c-api) Clean up the `tests/Makefile`
  lib/c-api/tests/Makefile
Labels: 🐞 bug, 📦 lib-c-api, 🧪 tests

#2476 chore(compiler) Remove `ModuleInfoTranslate`
  lib/compiler/src/lib.rs
  lib/compiler/src/translator/environ.rs
  lib/compiler/src/translator/mod.rs
Labels: 🎉 enhancement, 📦 lib-compiler

#2474 Fix windows cache permission
  CHANGELOG.md
  lib/cache/src/filesystem.rs
  scripts/windows-installer/wasmer.iss
Labels: 🐞 bug, 📦 lib-cache, 🖼️ platform-windows
