Repository wasmerio/wasmer, pull requests merged in 2021-02, with the labels that each got.

#2075 fix(doc) `build-docs-capi` is missing the `capi_default_features` variable
  Makefile
Labels: 🐞 bug, 📚 documentation, 🤖 bot

#2084 fix(c-api) Avoid more than one call to the function environment finalizer
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/externals/function.rs
Labels: 🐞 bug, 📦 lib-c-api

#2083 doc(c-api) Remove inline documentation in `wasmer_wasm.h`, clarification about stability…
  CHANGELOG.md
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/wasmer_wasm.h
Labels: 📚 documentation, 📦 lib-c-api

#2072 feat(c-api) Implement cross-compilation API in C
  CHANGELOG.md
  Cargo.lock
  lib/c-api/Cargo.toml
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/src/wasm_c_api/unstable/mod.rs
  lib/c-api/src/wasm_c_api/unstable/target_lexicon.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-c-api, 🧪 tests

#2053 feat(c-api) Implement `wasi_get_unordered_imports`
  CHANGELOG.md
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/externals/mod.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/types/export.rs
  lib/c-api/src/wasm_c_api/types/import.rs
  lib/c-api/src/wasm_c_api/types/mod.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📦 lib-c-api

#2089 chore: Update LLVM in the documentation workflow
  .github/workflows/documentation.yaml
Labels: 🐞 bug, 📚 documentation

#2090 fix(c-api) Call `wasi_env_delete` manually
  CHANGELOG.md
  lib/cli/src/commands/wasmer_create_exe_main.c
  lib/engine-object-file/README.md
  tests/integration/cli/tests/object_file_engine_test_c_source.c
Labels: 🐞 bug, 📦 lib-c-api

#2076 fix(scripts) Fix publish script regarding `wasmer-c-api`
  lib/c-api/build.rs
  scripts/publish.py
Labels: 🐞 bug, 📦 lib-c-api, 🤖 bot

#2093 feat(api,vm) Improve the `vm::ImportInitializerFuncPtr` type.
  lib/api/src/externals/function.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/vm/src/instance/mod.rs
Labels: 🎉 enhancement, 📦 lib-api, 📦 lib-vm

#2074 feat(package) Be consistent on Windows regarding `libwasmer` name.
  Makefile
Labels: 🐞 bug, 🤖 bot

#2097 fix(c-api) Fix how string's length is computed
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/unstable/target_lexicon.rs
Labels: 🐞 bug, 📦 lib-c-api

#2101 fix: cflags emitted by `wasmer config --pkg-config` are now correct
  CHANGELOG.md
  lib/cli/src/commands/config.rs
Labels: 🐞 bug

#2116 fix(ci) Clean up Windows artifacts, installer, LLVM etc. #2112
  .github/workflows/main.yaml
  Makefile
Labels: 🤖 bot, 🧪 tests

#2118 feat(c-api) Add an unstable non-standard API to query available engines and compilers
  CHANGELOG.md
  Cargo.lock
  Makefile
  lib/c-api/Cargo.toml
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📦 lib-c-api

#2125 chore(cargo) Fix RUSTSEC-2021-0023.
  Cargo.lock
Labels: 🐞 bug

#2123 feat(makefile) Simplify the prelude + `build-capi` includes all available compilers
  CHANGELOG.md
  Makefile
Labels: 📚 documentation, 📦 lib-c-api, 🤖 bot, 🧪 tests

#2117 chore(c-api) Formalize API prefixes
  CHANGELOG.md
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/macros.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/src/wasm_c_api/unstable/mod.rs
  lib/c-api/src/wasm_c_api/unstable/module.rs
  lib/c-api/src/wasm_c_api/unstable/target_lexicon.rs
  lib/c-api/src/wasm_c_api/unstable/wasi.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📦 lib-c-api

#2130 typo undelying -> underlying
  lib/api/src/externals/mod.rs
Labels: 🐞 bug, 📚 documentation, 📦 lib-api

#2140 feat(c-api) Reduce the number of dependencies by statically compiling CRT
  .cargo/config.toml
Labels: 🎉 enhancement, 📦 lib-c-api, 🖼️ platform-windows
