Repository wasmerio/wasmer, pull requests merged in 2021-05, with the labels that each got.

#2320 Remove unnecessary code
  lib/engine/src/resolver.rs
  lib/wasi/src/lib.rs
  lib/wasi/src/syscalls/mod.rs
Labels: 🎉 enhancement, 📦 lib-compiler-cranelift, 📦 lib-wasi

#2325 Clean up some internal WASI code
  lib/wasi/src/state/mod.rs
Labels: 🎉 enhancement, 📦 lib-wasi

#2326 Simplify `InstanceRef`
  lib/vm/src/instance/mod.rs
  lib/vm/src/instance/ref.rs
Labels: 🎉 enhancement, 📦 lib-vm

#2321 Improve test framework and execution speed
  .github/workflows/main.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  bors.toml
  build.rs
  deny.toml
  fuzz/Cargo.lock
  fuzz/Cargo.toml
  lib/c-api/build.rs
  lib/c-api/examples/Makefile
  lib/c-api/tests/Makefile
  lib/c-api/tests/wasm.h
  lib/c-api/tests/wasmer_wasm.h
  lib/compiler-cranelift/Cargo.toml
  lib/engine-jit/Cargo.toml
  lib/engine-native/Cargo.toml
  lib/engine-native/src/builder.rs
  lib/engine-object-file/Cargo.toml
  lib/engine-object-file/src/builder.rs
  tests/compilers/config.rs
  tests/compilers/imports.rs
  tests/compilers/main.rs
  tests/compilers/metering.rs
  tests/compilers/middlewares.rs
  tests/compilers/multi_value_imports.rs
  tests/compilers/native_functions.rs
  tests/compilers/serialize.rs
  tests/compilers/traps.rs
  tests/compilers/utils.rs
  tests/compilers/wasi.rs
  tests/compilers/wast.rs
  tests/ignores.txt
  tests/lib/compiler-test-derive/Cargo.toml
  tests/lib/compiler-test-derive/build.rs
  tests/lib/compiler-test-derive/src/ignores.rs
  tests/lib/compiler-test-derive/src/lib.rs
  tests/lib/compiler-test-derive/src/tests.rs
  tests/lib/test-generator/src/lib.rs
  tests/lib/test-generator/src/processors.rs
Labels: 🎉 enhancement, 🤖 bot, 🧪 tests

#2355 doc: Update link to the Zig integration, and update for all languages
  docs/cn/README.md
  docs/es/README.md
  docs/fr/README.md
  docs/ja/README.md
Labels: 🎉 enhancement, 📚 documentation

#2356 feat: Rename `wasmer-engine-native` to `wasmer-engine-dylib`
  Cargo.lock
  Cargo.toml
  Makefile
  docs/deps_dedup.dot
  docs/deps_dedup.svg
  examples/README.md
  examples/engine_cross_compilation.rs
  examples/engine_dylib.rs
  examples/engine_headless.rs
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/dylib_cranelift.rs
  lib/api/Cargo.toml
  lib/api/src/lib.rs
  lib/api/src/store.rs
  lib/c-api/Cargo.toml
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/tests/wasm.h
  lib/c-api/wasmer_wasm.h
  lib/cache/Cargo.toml
  lib/cache/benches/bench_filesystem_cache.rs
  lib/cli/Cargo.toml
  lib/cli/README.md
  lib/cli/src/commands/compile.rs
  lib/cli/src/commands/run.rs
  lib/cli/src/compilers/llvm.rs
  lib/cli/src/store.rs
  lib/deprecated/runtime-core/Cargo.lock
  lib/deprecated/runtime/Cargo.lock
  lib/derive/tests/compile-fail/bad-attribute.rs
  lib/derive/tests/compile-fail/bad-export-arg.rs
  lib/derive/tests/compile-fail/no-lazy-init.rs
  lib/engine-dylib/Cargo.toml
  lib/engine-dylib/README.md
  lib/engine-dylib/src/artifact.rs
  lib/engine-dylib/src/builder.rs
  lib/engine-dylib/src/engine.rs
  lib/engine-dylib/src/lib.rs
  lib/engine-dylib/src/serialize.rs
  lib/engine-native/README.md
  lib/engine/README.md
  lib/object/README.md
  scripts/publish.py
  tests/compilers/config.rs
  tests/compilers/wast.rs
  tests/ignores.txt
  tests/integration/cli/src/util.rs
  tests/lib/compiler-test-derive/src/ignores.rs
  tests/lib/compiler-test-derive/src/lib.rs
  tests/lib/compiler-test-derive/src/tests.rs
  tests/lib/test-generator/Cargo.toml
  tests/wasi-wast/wasi/tests/isatty.rs
  tests/wasi-wast/wasi/tests/writing.rs
Labels: 🎉 enhancement, 📚 documentation, 🧪 tests
