Repository wasmerio/wasmer, pull requests merged in 2021-06, with the labels that each got.

#2367 chore(api): Remove the `deprecated` feature and associated code
  lib/api/Cargo.toml
  lib/api/src/externals/function.rs
  lib/api/src/externals/mod.rs
  lib/api/src/lib.rs
Labels: 🎉 enhancement, 📦 lib-api

#2372 chore: Update Rust dependencies
  Cargo.lock
Labels: 🎉 enhancement

#2382 doc(changelog) Add missing entries
  CHANGELOG.md
  lib/c-api/CHANGELOG.md
Labels: 🐞 bug, 📚 documentation

#2398 Fix 'variable does not need to be mutable' warnings
  lib/engine-universal/src/unwind/windows_x64.rs
Labels: 🎉 enhancement, 🖼️ platform-windows

#2399 doc(readme) Add the Dart integration
  CHANGELOG.md
  README.md
  assets/languages/c.svg
  assets/languages/cpp.svg
  assets/languages/csharp.svg
  assets/languages/d.svg
  assets/languages/dart.svg
  assets/languages/elixir.svg
  assets/languages/go.svg
  assets/languages/java.svg
  assets/languages/js.svg
  assets/languages/php.svg
  assets/languages/postgres.svg
  assets/languages/python.svg
  assets/languages/r.svg
  assets/languages/ruby.svg
  assets/languages/rust.svg
  assets/languages/swift.svg
Labels: 🎉 enhancement, 📚 documentation

#2403 test: Add #[allow(unused)] when no compiler is set.
  tests/lib/compiler-test-derive/src/lib.rs
  tests/lib/compiler-test-derive/src/tests.rs
Labels: 🎉 enhancement, 🧪 tests

#2402 doc(middlewares) Add more examples and more doctests
  CHANGELOG.md
  lib/middlewares/Cargo.toml
  lib/middlewares/README.md
  lib/middlewares/src/lib.rs
  lib/middlewares/src/metering.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-middlewares, 🧪 tests

#2400 doc(changelog) Add #2386.
  CHANGELOG.md
Labels: 🐞 bug, 📚 documentation

#2401 doc(changelog) Add #2390
  CHANGELOG.md
Labels: 🐞 bug, 📚 documentation

#2388 Fix `make install` when *.hh is empty.
  Makefile
Labels: 🐞 bug, 📦 lib-c-api

#2405 chore: Update Rust dependencies
  Cargo.lock
  lib/compiler-llvm/Cargo.toml
  lib/compiler-llvm/src/object_file.rs
  lib/object/Cargo.toml
Labels: 🎉 enhancement, 🤖 bot

#2411 feat(wasi-types) Extract types from `wasi` to a new `wasi-types` crate
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  lib/wasi-types/Cargo.toml
  lib/wasi-types/README.md
  lib/wasi-types/src/advice.rs
  lib/wasi-types/src/directory.rs
  lib/wasi-types/src/error.rs
  lib/wasi-types/src/event.rs
  lib/wasi-types/src/file.rs
  lib/wasi-types/src/io.rs
  lib/wasi-types/src/lib.rs
  lib/wasi-types/src/signal.rs
  lib/wasi-types/src/subscription.rs
  lib/wasi-types/src/time.rs
  lib/wasi-types/src/versions/mod.rs
  lib/wasi-types/src/versions/snapshot0.rs
  lib/wasi/Cargo.toml
  lib/wasi/src/ptr.rs
  lib/wasi/src/syscalls/mod.rs
  lib/wasi/src/syscalls/types.rs
  scripts/publish.py
Labels: 🎉 enhancement, 📦 lib-wasi

#2420 doc(wasi-types) Mention `wasi-types` in `lib/README.md`
  lib/README.md
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-wasi

#2391 Fix Singlepass issue #2347
  CHANGELOG.md
  lib/compiler-singlepass/src/codegen_x64.rs
  tests/wast/wasmer/nan-canonicalization-issue-2159.wast
  tests/wast/wasmer/nan-canonicalization-issue-2347.wast
Labels: 🐞 bug, 📦 lib-compiler-singlepass

#2426 fix(wapm) Fix the `wax` script generation
  CHANGELOG.md
  Makefile
Labels: 🐞 bug, 📦 lib-cli

#2430 fix: Set the SONAME to `libwasmer.so` on Linux
  .cargo/config.toml
Labels: 🎉 enhancement

#2397 Fix WASI rename issue: #2297
  CHANGELOG.md
  lib/wasi/src/syscalls/mod.rs
  tests/wasi-wast/wasi/snapshot1/path_rename.wasm
  tests/wasi-wast/wasi/snapshot1/path_rename.wast
  tests/wasi-wast/wasi/tests/path_rename.rs
  tests/wasi-wast/wasi/unstable/path_rename.wasm
  tests/wasi-wast/wasi/unstable/path_rename.wast
Labels: 🐞 bug, 📦 lib-wasi

#2444 fix(c-api) Trap's messages are always null terminated
  lib/c-api/CHANGELOG.md
  lib/c-api/src/wasm_c_api/instance.rs
  lib/c-api/src/wasm_c_api/mod.rs
  lib/c-api/src/wasm_c_api/trap.rs
  lib/engine/src/trap/error.rs
Labels: 🐞 bug, 📦 lib-c-api
