Repository wasmerio/wasmer, pull requests merged in 2021-03, with the labels that each got.

#2153 feat(c-api) Introduce the `wasmer_features_t` unstable API
  CHANGELOG.md
  Cargo.toml
  examples/README.md
  examples/features.rs
  lib/c-api/build.rs
  lib/c-api/examples/Makefile
  lib/c-api/examples/features.c
  lib/c-api/src/wasm_c_api/engine.rs
  lib/c-api/src/wasm_c_api/unstable/engine.rs
  lib/c-api/src/wasm_c_api/unstable/features.rs
  lib/c-api/src/wasm_c_api/unstable/mod.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-c-api, 🧪 tests

#2135 Distro packaging improvements
  .github/workflows/lint.yaml
  CHANGELOG.md
  Makefile
  PACKAGING.md
  lib/cli/Cargo.toml
  lib/cli/build.rs
  lib/cli/src/bin/wasmer.rs
  lib/cli/src/commands/config.rs
  lib/cli/src/commands/create_exe.rs
Labels: 🎉 enhancement, 📚 documentation, 🤖 bot

#2157 Simplify WasmPtr code
  lib/api/src/ptr.rs
Labels: 🎉 enhancement, 📦 lib-api

#2170 feat(makefile) Use target-specific variable for `RUSTFLAGS`
  Makefile
Labels: 🐞 bug

#2182 doc(changelog) Add missing entries
  CHANGELOG.md
Labels: 📚 documentation

#2195 feat(types) Remove dependency to `cranelift-entity`
  Cargo.lock
  lib/compiler-cranelift/Cargo.toml
  lib/compiler-cranelift/src/sink.rs
  lib/compiler-cranelift/src/translator/translation_utils.rs
  lib/wasmer-types/Cargo.toml
  lib/wasmer-types/README.md
  lib/wasmer-types/src/entity/boxed_slice.rs
  lib/wasmer-types/src/entity/iter.rs
  lib/wasmer-types/src/entity/keys.rs
  lib/wasmer-types/src/entity/mod.rs
  lib/wasmer-types/src/entity/packed_option.rs
  lib/wasmer-types/src/entity/primary_map.rs
  lib/wasmer-types/src/entity/secondary_map.rs
  lib/wasmer-types/src/lib.rs
Labels: 🎉 enhancement, 📦 lib-types

#2209 fix: Rename `lib/wasmer-types/` to `lib/types/`
  Cargo.toml
  lib/api/Cargo.toml
  lib/c-api/Cargo.toml
  lib/cli/Cargo.toml
  lib/compiler-cranelift/Cargo.toml
  lib/compiler-llvm/Cargo.toml
  lib/compiler-singlepass/Cargo.toml
  lib/compiler/Cargo.toml
  lib/deprecated/runtime-core/Cargo.toml
  lib/engine-jit/Cargo.toml
  lib/engine-native/Cargo.toml
  lib/engine-object-file/Cargo.toml
  lib/engine/Cargo.toml
  lib/middlewares/Cargo.toml
  lib/object/Cargo.toml
  lib/types/Cargo.toml
  lib/types/README.md
  lib/types/src/entity/boxed_slice.rs
  lib/types/src/entity/iter.rs
  lib/types/src/entity/keys.rs
  lib/types/src/entity/mod.rs
  lib/types/src/entity/packed_option.rs
  lib/types/src/entity/primary_map.rs
  lib/types/src/entity/secondary_map.rs
  lib/types/src/features.rs
  lib/types/src/indexes.rs
  lib/types/src/initializers.rs
  lib/types/src/lib.rs
  lib/types/src/memory_view.rs
  lib/types/src/native.rs
  lib/types/src/ref.rs
  lib/types/src/types.rs
  lib/types/src/units.rs
  lib/types/src/values.rs
  lib/vm/Cargo.toml
  tests/lib/engine-dummy/Cargo.toml
Labels: 🐞 bug, 📦 lib-types

#2207 Simplifies a few pattern-matches
  benches/static_and_dynamic_functions.rs
  lib/c-api/src/wasm_c_api/externals/function.rs
  lib/compiler-llvm/src/compiler.rs
  lib/compiler-singlepass/src/codegen_x64.rs
  lib/emscripten/src/lib.rs
  tests/lib/wast/src/wast.rs
Labels: 🎉 enhancement

#2214 chore: Update `loupe` from 0.1.1 to 0.1.2.
  Cargo.lock
  fuzz/Cargo.lock
Labels: 🐞 bug

#2210 Fix memory leak in C API in some uses of `wasm_name_t`
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/types/export.rs
  lib/c-api/src/wasm_c_api/types/import.rs
  lib/c-api/src/wasm_c_api/types/mod.rs
  lib/c-api/src/wasm_c_api/unstable/wasi.rs
Labels: 🐞 bug, 📦 lib-c-api
