Repository wasmerio/wasmer, pull requests merged in 2021-01, with the labels that each got.

#1979 Make `WasmPtr::get_utf8_string` return `String`
  CHANGELOG.md
  lib/api/src/ptr.rs
  lib/emscripten/src/ptr.rs
  lib/wasi/src/macros.rs
  lib/wasi/src/ptr.rs
  lib/wasi/src/syscalls/mod.rs
Labels: 🔈soundness

#1999 Update README.md
  README.md
Labels: 🎉 enhancement, 📚 documentation

#2008 Improved Apple Silicon & LLVM 11 support
  .github/workflows/main.yaml
  Makefile
  tests/compilers/native_functions.rs
  tests/compilers/utils.rs
  tests/compilers/wast.rs
Labels: 🐞 bug, 📦 lib-compiler-llvm, 🤖 bot

#2038 Fix lint warnings about unnecessary trailing semicolons.
  tests/compilers/imports.rs
Labels: 🎉 enhancement, 🧪 tests

#2041 doc(example) Add white background and reduce diagram sizes
  CHANGELOG.md
  assets/diagrams/Diagram_module_compilation.png
  assets/diagrams/Diagram_module_instantiation.png
  assets/diagrams/Diagram_module_serialization.png
  examples/README.md
Labels: 🎉 enhancement, 📚 documentation

#2039 Add a TODO referring to a feature request on Rayon.
  lib/compiler-llvm/src/compiler.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-vm

#2047 fix(doc): Remove condition on LLVM install step
  .github/workflows/documentation.yaml
Labels: 📚 documentation

#2040 feat(vm) Add `Instance::offsets` and `InstanceHandle::vmoffsets`
  CHANGELOG.md
  lib/vm/src/instance/mod.rs
  lib/vm/src/instance/ref.rs
  lib/vm/src/trap/traphandlers.rs
Labels: 🎉 enhancement, 📦 lib-vm

#2059 fix(wasi) Fix the logic behind inherited/captured `stdin`, `stdout` and `stderr`
  CHANGELOG.md
  lib/c-api/build.rs
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/wasmer_wasm.h
Labels: 🎉 enhancement, 🐞 bug, 📦 lib-c-api

#2054 Add `wasm_config_delete` to the Wasm C API
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/engine.rs
Labels: 🎉 enhancement, 📚 documentation, 📦 lib-c-api, 🧪 tests

#2058 fix(c-api) `wasi_version_t` wasn't bound correctly to C
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/src/wasm_c_api/wat.rs
  lib/c-api/wasmer_wasm.h
  lib/wasi/src/utils.rs
Labels: 🐞 bug, 📦 lib-c-api

#2070 fix(c-api) Don't drain the entire captured stream at first read
  CHANGELOG.md
  lib/c-api/src/wasm_c_api/wasi/mod.rs
  lib/c-api/tests/test-wasi.c
Labels: 🐞 bug, 📦 lib-c-api

#2064 chore: Do not try to copy libwasmer_c_api.so if it does not exist
  Makefile
  examples/engine_cross_compilation.rs
  examples/engine_headless.rs
  examples/engine_native.rs
  tests/compilers/traps.rs
Labels: 🎉 enhancement, 🤖 bot

#2068 Remove dependency on raw-cpuid in favor of is_x86_feature_detected
  Cargo.lock
  lib/compiler/Cargo.toml
  lib/compiler/src/target.rs
Labels: 🎉 enhancement, 📦 lib-compiler

#2069 doc(c-api) Use the last `README.md`, not the deprecated one
  CHANGELOG.md
  Makefile
Labels: 🎉 enhancement, 📦 lib-c-api, 🤖 bot

#2071 feat(c-api) Rename the `wasmer` module to `unstable`
  lib/c-api/src/wasm_c_api/mod.rs
  lib/c-api/src/wasm_c_api/unstable/mod.rs
  lib/c-api/src/wasm_c_api/unstable/module.rs
  lib/c-api/wasmer_wasm.h
Labels: 📦 lib-c-api
