Repository wasmerio/wasmer, pull requests merged in 2022-08, with the labels that each got.

#3068 create-{exe,obj}: add documentations and header file generation for create-obj
  lib/cli/src/cli.rs
  lib/cli/src/commands/create_exe.rs
  lib/cli/src/commands/create_obj.rs
  lib/cli/src/commands/wasmer_create_exe.h
  lib/types/src/serialize.rs
Labels: create-exe

#3070 wasmer-cli: Allow create-exe to receive a static object as input
  lib/cli/src/commands/create_exe.rs
Labels: create-exe

#3076 Add support for cross-compiling in create-exe with zig cc WIP
  Cargo.lock
  lib/cli/Cargo.toml
  lib/cli/src/commands/create_exe.rs
  lib/cli/src/commands/create_obj.rs
  lib/types/src/compilation/target.rs
  lib/types/src/lib.rs
Labels: create-exe

#3079 Migrate to clap from structopt
  CHANGELOG.md
  Cargo.lock
  lib/cli-compiler/Cargo.toml
  lib/cli-compiler/src/cli.rs
  lib/cli-compiler/src/commands/compile.rs
  lib/cli-compiler/src/commands/config.rs
  lib/cli-compiler/src/commands/validate.rs
  lib/cli-compiler/src/common.rs
  lib/cli-compiler/src/store.rs
  lib/cli/Cargo.toml
  lib/cli/src/cli.rs
  lib/cli/src/commands.rs
  lib/cli/src/commands/binfmt.rs
  lib/cli/src/commands/cache.rs
  lib/cli/src/commands/compile.rs
  lib/cli/src/commands/config.rs
  lib/cli/src/commands/create_exe.rs
  lib/cli/src/commands/create_obj.rs
  lib/cli/src/commands/inspect.rs
  lib/cli/src/commands/run.rs
  lib/cli/src/commands/run/wasi.rs
  lib/cli/src/commands/self_update.rs
  lib/cli/src/commands/validate.rs
  lib/cli/src/commands/wast.rs
  lib/cli/src/common.rs
  lib/cli/src/compilers/llvm.rs
  lib/cli/src/store.rs
Labels: priority-low

#3089 Add wasi_* C-API function changes in migration guide for 3.0.0
  docs/migration_to_3.0.0.md
Labels: 📚 documentation

#3096 create-exe: use cached wasmer tarballs for network fetches
  CHANGELOG.md
  lib/cli/src/commands/create_exe.rs
Labels: create-exe

#3095 create-exe: list supported cross-compilation target triples in help …
  lib/cli/src/cli.rs
  lib/cli/src/commands/create_exe.rs
  lib/cli/src/commands/create_obj.rs
Labels: create-exe

#3103 create-exe: prefer libwasmer headless when cross-compiling
  Makefile
  lib/c-api/Cargo.toml
  lib/cli/src/commands/create_exe.rs
  lib/compiler/src/engine/artifact.rs
Labels: create-exe

#3118 Refactor Artifact enum into a struct
  lib/compiler/src/engine/artifact.rs
  lib/types/src/compilation/section.rs
  lib/types/src/serialize.rs
Labels: 🔨 refactor

#3126 scripts/publish.py: replace toposort dependency with python std graphlib module
  scripts/publish.py
Labels: 🎉 enhancement

#3117 Add tests for wasmer-cli create-{exe,obj} commands
  .github/workflows/test-sys.yaml
  Makefile
  lib/cli/src/c_gen/staticlib_header.rs
  lib/cli/src/commands/create_exe.rs
  lib/cli/src/commands/create_obj.rs
  lib/cli/src/commands/wasmer_create_exe_main.c
  lib/cli/src/commands/wasmer_deserialize_module.h
  lib/cli/src/commands/wasmer_static_create_exe_main.c
  tests/integration/cli/build.rs
  tests/integration/cli/src/assets.rs
  tests/integration/cli/tests/create_exe.rs
  tests/integration/cli/tests/run.rs
  tests/integration/cli/tests/version.rs
Labels: create-exe

#3128 scripts/publish.py: validate crates version before publishing
  scripts/publish.py
Labels: 🎉 enhancement
